# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribuciones
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
venv/
env/
ENV/
.env/
.venv/

# IDEs y editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyInstaller
*.manifest
*.spec

# Logs y bases de datos
*.log
*.sqlite3

# MacOS
.DS_Store

# Linux
*~

# Coverage
.coverage
htmlcov/
.coverage.*
.cache
nosetests.xml
coverage.xml

# Pipenv
Pipfile.lock

# Poetry
poetry.lock

# mypy
.mypy_cache/

# pytest
.pytest_cache/
